{% extends 'base.html' %}

{% block contenido %}

<h1> Pagina de altas</h1>



{% from 'macro.html' import render_field %}
<form name="sendMessage" id="datosForm" method="POST">
  <div class="controls">
    {{ render_field(form.nombre,class="form-control") }}
    {{ render_field(form.contra_usuario,class="form-control") }}
    {{ render_field(form.turno,class="form-control") }}
    {{ render_field(form.correo,class="form-control") }}
    {{ msj }}
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock %}
