{% extends 'base.html' %}

{% block contenido %}
<!-- Prueba -->
<h1 class="display-5 {{ colores[turno] }} text-center"> Calendario {{ year }} Turno {{ turno }} </h1>
<!-- viejo -->
<!--     <h1 class="display-5 
        {% if turno=="A" %}
            turnoA
        {% elif turno=="B" %}
            turnoB
        {% elif turno=="C" %}
        bg-danger .bg-gradient
        {% elif turno=="D" %}
            turnoD
        {% else %}
            turnoE    
        {% endif %}
    text-center"> Calendario {{ year }} Turno {{ turno }} </h1> -->
    <!-- Cabecera de color -->
    <h1 class="display-7  text-center"> {{ calendario.meses[mes].nombre }}</h1>
    <div class="container-sm text-center ">
        
        <!-- Cabecera Semana -->
        <div class="row row-cols-7 text-bg-info">
          <div class="col">L</div>
          <div class="col">M</div>
          <div class="col">X</div>
          <div class="col">J</div>
          <div class="col">V</div>
          <div class="col">S</div>
          <div class="col">D</div>
        </div>
        <!-- Dias -->
       <div class="row row-cols-7"> 
            <!-- Huecos en blanco iniciales -->
            {% for i in range(1,calendario.meses[mes].dias[1].numSemana-1) %}
                <div class="col"> {{ " " }} </div>
            {% endfor %}

            {% for dia in calendario.meses[mes].dias %}
                <div class="col"> {{ dia.num  }} </div>
                {% if dia.numSemana==7 %}
                    </div>
                    <div class="row row-cols-7"> 
                {% endif %}                
            {% endfor %}
            <!-- Huecos en blanco finales -->
            {% for i in range(calendario.meses[mes].dias[-1].numSemana,7) %}
                <div class="col"> {{ " " }} </div>
            {% endfor %}
        </div>
        <!-- fin dias -->

            
        </div>

    </div>
{% endblock %}