<!-- Esta es la copia de calendarioMes
para su modificación en anual       -->


{% extends 'base.html' %}

{% block contenido %}
<!-- Cabeceras -->
<div class=" container">
    <h1 class="display-5 {{ colores[turno] }} bg-gradient text-center"> Calendario {{ year }} Turno {{ turno }} </h1>
    Vista año mete
</div>

<!--    Contenido de un mes -->
<!-- #TODO hay que hacer 4 contenedores o filas y 3 columnas
habria que poner un for para que ande con los meses... -->


<div class="row row-cols-2  ">
    por aqui iria el nombre del mes
    <div class="row row-cols-7 bg-black  m-lg-3"></div>
    <div class="container-sm text-center ">
        <div class="border"></div>
        <!-- Cabecera Semana -->
        <div class="row row-cols-7 text-black-5 ">
          <div class="col border-dark border-1 border">L</div>
          <div class="col border-dark border-1 border">M</div>
          <div class="col border-dark border-1 border">X</div>
          <div class="col border-dark border-1 border">J</div>
          <div class="col border-dark border-1 border">V</div>
          <div class="col border-dark border-1 border">S</div>
          <div class="col border-dark border-1 border">D</div>
        </div>
        <div class="row row-cols-7 m-2 border-top"></div>
        <div class="row row-cols-7 m-2  m-lg-3"></div>
        <!-- Dias -->
        
       <div class="row row-cols-7 "> 
            <!-- Huecos en blanco iniciales -->
            
            {% for i in range(1,calendario.meses[mes].dias[0].numSemana) %}
                <div class="col pt-2 pb-2 "> {{" "}} </div>
            {% endfor %}

            {% for dia in calendario.meses[mes].dias %}
<!--                 # AQUI LOS FESTIVOS TAMBIEN -->
                {% if dia.festivo %}
                    <div class="col text-bg-danger "> {{ dia.num }} </div>
                {% else %}
                    <div class="col {{ cd[dia.turno] }}"> 
                        <div class="col" > {{ dia.num }}</div>  </div>
                {% endif %}
<!--                  {% if dia.festivo %}
                {{"text-bg-danger"}}
            {% endif %}  -->
                
                {% if dia.numSemana==7 %}
                    </div>
                    <div class="row row-cols-7"> 
                {% endif %}                
            {% endfor %}
            <!-- Huecos en blanco finales -->
            {% for i in range(calendario.meses[mes].dias[-1].numSemana,7) %}
                <div class="col"> {{ " " }} </div>
            {% endfor %}
        </div>
        <!-- fin dias -->

            
        </div>

    </div>
</div>
{% endblock %}

<!-- Contenido original en calendarioMes
 -->