{% extends 'base.html' %}

{% block contenido %}

<h1> Pantalla Principal</h1>
  <!--  Boton de Cambio de datos  -->
<!--   <a href="\formularioDatos.html" type="button" class="btn btn-primary btn-lg ">Cambiar calendario</a>
 -->
 <form action="{{ url_for('mes') }}" method="POST">
        
  <div class="mb-3 btn">
    <select name="turno" class="form-select" aria-label="Default select example">
      <!-- Aqui se podria hacer un bucle for para los turnos con sus colores, dejando
      TODO en una sola linea un option para todos... -->
      <option selected>Elige un Turno</option>
      <option class="text-bg-danger" value="A">Tunro A</option>
      <option value="B">Turno B</option>
      <option value="C">Turno C</option>
      <option value="D">Turno D</option>
      <option value="E">Turno E</option>
    </select>
  </div>
  
  <div class="mb-3 btn">
    <select name="year" class="form-select" aria-label="Default select example" >
      <option selected>Elige un año</option>
      {% for i in range(year,year+7): %}
        <option value="{{ i }}"> {{ i }}</option>
      {% endfor%}
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
