
<HTML>
<HEAD>
<TITLE>Calendario Presa  INDEX</TITLE>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</HEAD>
<BODY>

<h1> Pantalla Principal</h1>
  <!--  Boton de Cambio de datos  -->
<!--   <a href="\formularioDatos.html" type="button" class="btn btn-primary btn-lg ">Cambiar calendario</a>
 -->
 <form action="{{ url_for('mes') }}" method="POST">
        
  <div class="mb-1">
    <label for="" class="form-label">Turno</label>
    <input name="turno" type="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

  </div>
  <div class="mb-3">
    <label for="" class="form-label">Año</label>
    <input name="year" type="" class="form-control" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</BODY>

</HTML>