PRUEBAS UNICAMENTE

{% from 'macro.html' import render_field %}


 <!-- Este es el formulario viejo -->
<form action="{{ url_for('anual') }}" method="POST">
 
<div class="container ">
  <h4 class="text-center p-md-4">Elige un turno y un año</h4> 
    
  <div class="row"> 
    <div class="col">
      

    </div>
    <div class="col-5">
      <form action="{{ url_for('anual') }}" method="POST">
        {{ render_field(formulario.turno,class="form-control form-select") }}
        {{ render_field(formulario.year,class="form-control form-select") }}
      </form>
    </div>
    <div class="col"> 
      <button type="submit"  class="btn btn-primary">Ver calendario</button>
      
    </div>
  </div>
