<div class="form-floating">
    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
      <option selected>Elige el turno</option>
      <option value="A">Turno A</option>
      <option value="B">Turno B</option>
      <option value="C">Turno C</option>
      <option value="D">Turno D</option>
      <option value="E">Turno E</option>
    </select>
    <label for="floatingSelect">Works with selects</label>
  </div>
  <div class="form-floating">
    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
      <option selected>Elige El año</option>
      <option value="2022">2022</option>
      <option value="2023">2023</option>

    </select>
    <label for="floatingSelect">Etiqueta de eleccion</label>
  </div>
